.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
}

.row {
    width: 100%;
}

.select-content input {
    float: left;
}

.search {
    background-color: aquamarine;
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
}

nz-select {
    width: 200px;
}

input{
    float: left;
}