<div class="select-content">
  <div class="row">
    <div class="col-1 col-md-8">
      <input type="text" placeholder="11">
    </div>
    <div class="col-2 col-md-2">
      <input type="text" placeholder="22">
    </div>
    <div class="col-3 col-md-2">
      <input type="text" placeholder="33">
    </div>
    <div class="col-6 col-md-2">
      <button type="text" (click)="searchProduct()">检索</button>
    </div>
  </div>
</div>
<div class="ag-grid-content" style="width: 100%; height: 100%;">
  <ag-grid-angular style="width: 100%; height: 100%;" [class]="themeClass" [rowData]="rowData" [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef" [pagination]="pagination" [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector" [rowSelection]="rowSelection"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>