<app-popup [buttonName]="'更新'" [buttonFlg]="true"
    [productId]="productId"
    [productName]="productName" 
    [productNumber]="productNumber"
    [productPrice]="productPrice" 
    [productType]="productType" 
    [productVersion]="productVersion"
    
    (getProductId)="getProductId($event)"
    (getProductName)="getProductName($event)"
    (getProductNumber)="getProductNumber($event)"
    (getProductPrice)="getProductPrice($event)"
    (getProductType)="getProductType($event)" 
    (getProductVersion)="getProductVersion($event)"
    (getButtonFlg)="getButtonFlg($event)"
    nzAfterClose="onClick()">
    
</app-popup>

<app-popup [buttonName]="'删除'" [buttonFlg]="false" 
    (getButtonFlg)="getButtonFlg($event)">
</app-popup>