<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://www.ag-grid.com/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <!-- <h1>这里写我的系统名</h1> -->
        </a>
        <h1><a href="https://ng.ant.design/" target="_blank">点我去NG-ZORRO官网</a></h1><!--这段以后删掉 -->
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="控制台" nzIcon="home">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome/home" routerLinkActive="active" (click)="changeheaderName('主页')">主页</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome/userInformation"  routerLinkActive="active" (click)="changeheaderName('用户信息')">用户信息</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome/inventory"  routerLinkActive="active" (click)="changeheaderName('库存清单')">库存清单</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="库存管理" nzIcon="shopping">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome/addInbentory"  routerLinkActive="active" (click)="changeheaderName('入库登记')">入库登记</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome/cutInbentory"  routerLinkActive="active" (click)="changeheaderName('出库登记')">出库登记</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="订单管理" nzIcon="red-envelope">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a  routerLinkActive="active" (click)="changeheaderName('订单登记')">订单登记</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <span class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></span>
            </span>
            <span style="font-size: 25px;" >{{headrname}}</span>
          </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>

  </nz-layout>
  