<div class="container">
    <div class="login-wrapper">
        <div class="header">Login</div>
        <div class="form-wrapper">
            <input type="text" name="username" placeholder="username" class="input-item" [(ngModel)]="username">
            <input type="password" name="password" placeholder="password" class="input-item"[(ngModel)]="password">
            <button class="btn" (click)="sendUserMsg()">Sign in</button>
        </div>
        <div class="msg">
            Don't have account?
            <a href="#" [routerLink]="['/register']"><strong>Sign up</strong></a>
        </div>
    </div>
</div>